In [1]:
words=['apple','bat','bar','atom','book']

In [2]:
by_letter={}
for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else : by_letter[letter].append(word)

In [3]:
by_letter

In [4]:
'abcde'[0]

In [5]:
by_letter={} # if else 구문을 없애고 사용하기 편하게 제공
for word in words:
    letter=word[0]
    by_letter.setdefault(letter, []).append(word)
    #없으면 빈 list를 만든다

In [6]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [7]:
from collections import defaultdict
by_letter=defaultdict(list)
#by_letter=defaultdict(set) , 추가할땐 add
#by_letter=defaultdict(tuple)
by_letter

defaultdict(list, {})

In [8]:
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

## 집합(set)

In [9]:
a={1,2,3,4}
b={3,4,5,6,7,8}

In [10]:
a.union(b) #합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
a.intersection(b) #교집합

{3, 4}

In [12]:
a.difference(b) #차집합

{1, 2}

In [13]:
a.difference(b).issubset(b) #차집합, 부분집합인지 확인

False

<img src="1/img.png"/>

In [14]:
strings = ['a','as','bat','car','dove','python']

In [15]:
[x.upper() for x in strings if len(x)>2] #upper 소문자를 대문자로 변경

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [16]:
'abcd'.upper()

'ABCD'

In [17]:
chr(66) # ascii 값이 255까지 있으니
#ascii code 값이 65~122까지 문자열로 변환하고 문자열 5개씩 랜덤으로 만들고
# 대문자로 변환
# 5개의 랜덤한 문자열의 20개가 리스트에 담겨 있어요

'B'

In [18]:
import numpy as np

In [80]:
list1=[]
for i in range(20):
    random1= np.random.randint(65,122)
    str1=""
    str1 += chr(random1)*5
    list1.append(str1)
    list2=[]
    for j in list1:
        list2.append(j.upper())
list2
pass

In [85]:
#미소답)
list3=[]
for i in range(20):
    str1=""
    for i in range(5):
        str1 += chr(np.random.randint(65,122)).upper()
    list3.append(str1)
list3

['M]IRL',
 'ZLTTN',
 ']F`WG',
 'GJ_EU',
 'RPKPF',
 'RVE`G',
 'AHORJ',
 'WKYBB',
 'RPSPI',
 'EEJJQ',
 '`UFQF',
 'OD_VR',
 'OB_`I',
 'OHOKD',
 'F\\ODO',
 'T\\KDR',
 'YEHMY',
 'KVJAW',
 'PYYWW',
 'GAA\\^']

In [61]:
#강사님)
exclude = [x for l in [range(58,64), range(91,96)] for x in l]
exclude #특수문자에 대한 ascii 코드값

[58, 59, 60, 61, 62, 63, 91, 92, 93, 94, 95]

In [91]:
#강사님)
def ascii2str_without_special_str(e,viter): # 하나의 문자열을 생성하는 함수
    str_=""
    for i in range(20):
        x = np.random.randint(65,122)
        if x not in e:
            str_ += chr(x)
        if len(str_)>viter-1: break
    return str_

In [90]:
#강사님)
def ascii2str_without_special_str(e,viter): # 하나의 문자열을 생성하는 함수
    str_=""
    while len(str_) < viter:
        x = np.random.randint(65,122)
        if x not in e:
            str_ += chr(x)
    return str_

In [88]:
[ascii2str_without_special_str(exclude,15).upper() for i in range(20)]

['ZQDDWMEAUTBHM`B',
 '`MDBPYYZFVKBQSO',
 'HOFWXOLJLURGYCJ',
 'VHPKFLGWRCHLODJ',
 'UMMBQWQTASZSFQV',
 'CMFDVDG`WQJCCKH',
 'OOXRQQKGPXQCILE',
 'VMRKUOH`AKTSYGL',
 'IMQQCUNLGNVUWTS',
 'JNYSNH`GOKPKMAN',
 'LAEAWNXQHJDWQPQ',
 'AUXEJPATUAJKAGP',
 'PPLAOGNEDWIDNVI',
 'FTGPOAQPDNBYULJ',
 'GRASRWLVKPZ`YFO',
 'FVCOCMIIMUB`BHQ',
 'B`UFKAPGPRTQWPP',
 'MAYMTUDFCCPNKWE',
 'NHFVMIGWQAEDUEL',
 'PONVAGWLLZOFQMI']

In [21]:
chr(128512)

'😀'

In [54]:
chr(0x1F34F)

'🍏'

In [83]:
list4=[]
for i in range(20):
    str1=""
    for i in range(5):
        str1 += chr(np.random.randint(0x1f604,0x1f61f)).upper()
    list4.append(str1)
list4

['😈😞😆😜😉',
 '😞😄😓😌😛',
 '😕😎😆😍😅',
 '😕😆😅😏😌',
 '😈😚😑😔😖',
 '😉😅😔😒😑',
 '😋😜😖😈😚',
 '😗😘😚😚😉',
 '😏😛😓😆😐',
 '😍😓😍😏😌',
 '😚😖😖😜😖',
 '😙😒😇😎😜',
 '😒😇😆😆😆',
 '😉😉😎😎😗',
 '😎😝😑😑😞',
 '😗😚😕😖😗',
 '😞😕😜😜😈',
 '😎😙😛😑😛',
 '😞😚😗😍😔',
 '😊😚😉😊😐']

## 익명함수(anonymous function)

In [93]:
def short_function(x):
    return x*2

In [99]:
def short_function_two(x,y):
    return x*y

In [94]:
equiv_anon = lambda x: x*2

In [95]:
equiv_anon(5)

10

In [101]:
def apply_in_list(some_list, f):
    return [f(x,x+1) for x in some_list]

In [97]:
ints=[4,5,1,5,6]
apply_in_list(ints, lambda x: x*2)

[8, 10, 2, 10, 12]

In [98]:
ints=[4,5,1,5,6]
apply_in_list(ints, short_function)

[8, 10, 2, 10, 12]

In [102]:
ints=[4,5,1,5,6]
apply_in_list(ints, short_function_two)

[20, 30, 2, 30, 42]

In [119]:
#문제1)
def ffff(v, w, z):
    return v(w,z)*2

In [132]:
def ffff_test(f1, f2):
    return f1+f2
ffff(ffff_test,1,2)

6

In [177]:
#강사님 문제1 람다식)
ffff(lambda x,j : x*j+100,3,4)

224

In [180]:
#문제2)
def g(v, w, z):
    sum_=0
    for r in z:
        sum_ += r
    return w(sum_,v)

In [181]:
def g_test(r1,v1):
    return r1*v1
g(2,g_test,[2,4])

12

In [179]:
#강사님 문제2 람다식)
def g(v, w, z):
    sum_=0
    for r in z:
        sum_ += r
    return w(sum_,v)
g('사랑', lambda x,y: str(x) + y, [11,2,3,13,26])

'55사랑'

In [133]:
#문제3)
def k(rr,p,w,z): # rr=4 
    return p(w(z),rr['a']*2)

In [176]:
def k_p(w_z2,rr2):
    return str(w_z2)+rr2

def k_w(w_z1):
    return w_z1*2
k({'a':"사랑"},k_p,k_w,2)

'4사랑사랑'

In [183]:
# 강사님 문제3 람다식
def k(rr,p,w,z):
    return p(w(z),rr['a']*2)
k({"a":2}, lambda x,y : x+y, lambda x: x+5, 3)

12

## Currying
### 일부 인자만 취하기
커링은 수학자인 하스겔의 이름에서 따온 컴퓨터 과학용어로
함수에서 <b>일부 인자만 취하는</b> 새로운 함수를 만드는 기법
예를 들어 두개의 숫자를 더하는 함수가 있다고 가정

In [184]:
def add_number(x,y):
    return x+y

In [202]:
def mul_number(x,y):
    return x*y

In [185]:
add_five = lambda y:add_number(5,y)

In [187]:
[add_five(i) for i in range(10)]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [188]:
add_eleven = lambda y:add_number(11,y)

In [189]:
[add_eleven(i) for i in range(10)]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [203]:
mul_eleven = lambda y:mul_number(11,y)

In [204]:
[mul_eleven(i) for i in range(10)]

[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [205]:
from functools import partial
add_five = partial(add_number,5)

In [206]:
add_five(11)

16

In [221]:
partialed_list=[]
partialed_list.append(add_number)
partialed_list.append(mul_number)

In [224]:
for i in partialed_list:
    print(i.__name__) # 함수이름.__name__ 는  함수나 클래스의 이름을 출력 , "__" 는 던더

add_number
mul_number

In [225]:
x_nogada = [partial(i,5) for i in partialed_list]

In [220]:
[[i(j) for i in x_nogada] for j in range(10)]

[[5, 0],
 [6, 5],
 [7, 10],
 [8, 15],
 [9, 20],
 [10, 25],
 [11, 30],
 [12, 35],
 [13, 40],
 [14, 45]]

In [226]:
x = [partial(i,5) for i in [add_number, mul_number]]

In [227]:
[[i(j) for i in x] for j in range(10)]

[[5, 0],
 [6, 5],
 [7, 10],
 [8, 15],
 [9, 20],
 [10, 25],
 [11, 30],
 [12, 35],
 [13, 40],
 [14, 45]]

In [214]:
[i(5) for i in x]

[10, 25]

문제1) partial이용 (함수,값) , 각 함수의 값에 1~100까지 전달한 결과 출력
- 함수는 5개정의 (두개의 인자를 받음)
- f1( , ) -> 첫번째 인자는 두번째 인자만큼 더하여 반환 a*b
- f2( , ) -> 첫번째 인자를 두번째 인자배한 결과 반환 a**b
- f3( , ) -> 첫번째 인자 나누기 두번째 인자 a/b
- f4( , ) -> 첫번째 인자 나머지 두번째 인자 a%b
- f5( , ) -> 첫번째 인자의 제곱 + 두번째인자 a^2 + b

In [262]:
def f1(x,y):
    return x*y
def f2(x,y):
    return x**y
def f3(x,y):
    return x/y
def f4(x,y):
    return x%y
def f5(x,y):
    return (x**2)+y

In [263]:
partialed_list1=[]
partialed_list1.append(f1)
partialed_list1.append(f2)
partialed_list1.append(f3)
partialed_list1.append(f4)
partialed_list1.append(f5)

In [264]:
x_test = [partial(i,2) for i in partialed_list1]

In [266]:
[[i(j) for i in x_test] for j in range(1,101)]

[[2, 2, 2.0, 0, 5],
 [4, 4, 1.0, 0, 6],
 [6, 8, 0.6666666666666666, 2, 7],
 [8, 16, 0.5, 2, 8],
 [10, 32, 0.4, 2, 9],
 [12, 64, 0.3333333333333333, 2, 10],
 [14, 128, 0.2857142857142857, 2, 11],
 [16, 256, 0.25, 2, 12],
 [18, 512, 0.2222222222222222, 2, 13],
 [20, 1024, 0.2, 2, 14],
 [22, 2048, 0.18181818181818182, 2, 15],
 [24, 4096, 0.16666666666666666, 2, 16],
 [26, 8192, 0.15384615384615385, 2, 17],
 [28, 16384, 0.14285714285714285, 2, 18],
 [30, 32768, 0.13333333333333333, 2, 19],
 [32, 65536, 0.125, 2, 20],
 [34, 131072, 0.11764705882352941, 2, 21],
 [36, 262144, 0.1111111111111111, 2, 22],
 [38, 524288, 0.10526315789473684, 2, 23],
 [40, 1048576, 0.1, 2, 24],
 [42, 2097152, 0.09523809523809523, 2, 25],
 [44, 4194304, 0.09090909090909091, 2, 26],
 [46, 8388608, 0.08695652173913043, 2, 27],
 [48, 16777216, 0.08333333333333333, 2, 28],
 [50, 33554432, 0.08, 2, 29],
 [52, 67108864, 0.07692307692307693, 2, 30],
 [54, 134217728, 0.07407407407407407, 2, 31],
 [56, 268435456, 0.07142857142857142, 2, 32],
 [58, 536870912, 0.06896551724137931, 2, 33],
 [60, 1073741824, 0.06666666666666667, 2, 34],
 [62, 2147483648, 0.06451612903225806, 2, 35],
 [64, 4294967296, 0.0625, 2, 36],
 [66, 8589934592, 0.06060606060606061, 2, 37],
 [68, 17179869184, 0.058823529411764705, 2, 38],
 [70, 34359738368, 0.05714285714285714, 2, 39],
 [72, 68719476736, 0.05555555555555555, 2, 40],
 [74, 137438953472, 0.05405405405405406, 2, 41],
 [76, 274877906944, 0.05263157894736842, 2, 42],
 [78, 549755813888, 0.05128205128205128, 2, 43],
 [80, 1099511627776, 0.05, 2, 44],
 [82, 2199023255552, 0.04878048780487805, 2, 45],
 [84, 4398046511104, 0.047619047619047616, 2, 46],
 [86, 8796093022208, 0.046511627906976744, 2, 47],
 [88, 17592186044416, 0.045454545454545456, 2, 48],
 [90, 35184372088832, 0.044444444444444446, 2, 49],
 [92, 70368744177664, 0.043478260869565216, 2, 50],
 [94, 140737488355328, 0.0425531914893617, 2, 51],
 [96, 281474976710656, 0.041666666666666664, 2, 52],
 [98, 562949953421312, 0.04081632653061224, 2, 53],
 [100, 1125899906842624, 0.04, 2, 54],
 [102, 2251799813685248, 0.0392156862745098, 2, 55],
 [104, 4503599627370496, 0.038461538461538464, 2, 56],
 [106, 9007199254740992, 0.03773584905660377, 2, 57],
 [108, 18014398509481984, 0.037037037037037035, 2, 58],
 [110, 36028797018963968, 0.03636363636363636, 2, 59],
 [112, 72057594037927936, 0.03571428571428571, 2, 60],
 [114, 144115188075855872, 0.03508771929824561, 2, 61],
 [116, 288230376151711744, 0.034482758620689655, 2, 62],
 [118, 576460752303423488, 0.03389830508474576, 2, 63],
 [120, 1152921504606846976, 0.03333333333333333, 2, 64],
 [122, 2305843009213693952, 0.03278688524590164, 2, 65],
 [124, 4611686018427387904, 0.03225806451612903, 2, 66],
 [126, 9223372036854775808, 0.031746031746031744, 2, 67],
 [128, 18446744073709551616, 0.03125, 2, 68],
 [130, 36893488147419103232, 0.03076923076923077, 2, 69],
 [132, 73786976294838206464, 0.030303030303030304, 2, 70],
 [134, 147573952589676412928, 0.029850746268656716, 2, 71],
 [136, 295147905179352825856, 0.029411764705882353, 2, 72],
 [138, 590295810358705651712, 0.028985507246376812, 2, 73],
 [140, 1180591620717411303424, 0.02857142857142857, 2, 74],
 [142, 2361183241434822606848, 0.028169014084507043, 2, 75],
 [144, 4722366482869645213696, 0.027777777777777776, 2, 76],
 [146, 9444732965739290427392, 0.0273972602739726, 2, 77],
 [148, 18889465931478580854784, 0.02702702702702703, 2, 78],
 [150, 37778931862957161709568, 0.02666666666666667, 2, 79],
 [152, 75557863725914323419136, 0.02631578947368421, 2, 80],
 [154, 151115727451828646838272, 0.025974025974025976, 2, 81],
 [156, 302231454903657293676544, 0.02564102564102564, 2, 82],
 [158, 604462909807314587353088, 0.02531645569620253, 2, 83],
 [160, 1208925819614629174706176, 0.025, 2, 84],
 [162, 2417851639229258349412352, 0.024691358024691357, 2, 85],
 [164, 4835703278458516698824704, 0.024390243902439025, 2, 86],
 [166, 9671406556917033397649408, 0.024096385542168676, 2, 87],
 [168, 19342813113834066795298816, 0.023809523809523808, 2, 88],
 [170, 38685626227668133590597632, 0.023529411764705882, 2, 89],
 [172, 77371252455336267181195264, 0.023255813953488372, 2, 90],
 [174, 154742504910672534362390528, 0.022988505747126436, 2, 91],
 [176, 309485009821345068724781056, 0.022727272727272728, 2, 92],
 [178, 618970019642690137449562112, 0.02247191011235955, 2, 93],
 [180, 1237940039285380274899124224, 0.022222222222222223, 2, 94],
 [182, 2475880078570760549798248448, 0.02197802197802198, 2, 95],
 [184, 4951760157141521099596496896, 0.021739130434782608, 2, 96],
 [186, 9903520314283042199192993792, 0.021505376344086023, 2, 97],
 [188, 19807040628566084398385987584, 0.02127659574468085, 2, 98],
 [190, 39614081257132168796771975168, 0.021052631578947368, 2, 99],
 [192, 79228162514264337593543950336, 0.020833333333333332, 2, 100],
 [194, 158456325028528675187087900672, 0.020618556701030927, 2, 101],
 [196, 316912650057057350374175801344, 0.02040816326530612, 2, 102],
 [198, 633825300114114700748351602688, 0.020202020202020204, 2, 103],
 [200, 1267650600228229401496703205376, 0.02, 2, 104]]

In [268]:
def f7(x,*y):
    sum_ =0
    for i in y:
        sum_ += i
    return sum_

In [278]:
def f7_2(x,*y):
    print('x:',x,'y:',y)
    sum_ =0
    for i in y:
        sum_ += i*x
    return sum_

In [275]:
def f7_3(x,*y):
    sum_ =0
    for i in y:
        sum_ += i*x
    return sum_

In [269]:
[partial(f7,2,2,11,13)(i)for i in range(10)]

[26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [308]:
[partial(f7_2,12,2,11,13)(i)for i in range(10)]

x: 12 y: (2, 11, 13, 0)
x: 12 y: (2, 11, 13, 1)
x: 12 y: (2, 11, 13, 2)
x: 12 y: (2, 11, 13, 3)
x: 12 y: (2, 11, 13, 4)
x: 12 y: (2, 11, 13, 5)
x: 12 y: (2, 11, 13, 6)
x: 12 y: (2, 11, 13, 7)
x: 12 y: (2, 11, 13, 8)
x: 12 y: (2, 11, 13, 9)

[312, 324, 336, 348, 360, 372, 384, 396, 408, 420]

In [307]:
[partial(f7_3,2,2,11,13)(i)for i in range(10)]

[52, 54, 56, 58, 60, 62, 64, 66, 68, 70]

In [292]:
def rrr(a,k,x,*b, **c):
    print(a, k ,b, c,x)

In [293]:
rrr(3,4,5,6,vv=33,v=1,r='홍길동')

3 4 (6,) {'vv': 33, 'v': 1, 'r': '홍길동'} 5

In [296]:
def rrrr(a,k, y, x):
    print(a, k ,x,y)

In [300]:
rrrr(3,4,x=11,y='사랑')

3 4 11 사랑

## generator

In [313]:
def squares(n=10):
    print('1부터 {0}까지 의 제곱생성'.format(n**2))
    for i in range(1, n+1):
        yield i**2

In [314]:
gen = squares()

In [315]:
for i in gen:
    print(i, end=" ")

1부터 100까지 의 제곱생성
1 4 9 16 25 36 49 64 81 100

In [316]:
gen = (x**2 for x in range(100)) # ()를 사용하여 generator 생성가능

In [317]:
def _make_gen():
    for x in range(100):
        yield x**2
gen= _make_gen() # 이코드는 위의 코드와 동일

In [318]:
sum(gen)

328350

### generator 표현식은 리스트 표현식을 인자로 받는 어떤
### 파이썬 함수에서도 사용가능

In [319]:
dict((i,i**2) for i in range(6))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## 예외 처리

In [329]:
def attempt_float(x): # 자바의 트라이 캐치문 과 비슷함
    try:
        return float(x)
    except:
        return x

In [327]:
attempt_float('2.3')

2.3

In [328]:
attempt_float('사랑')

'사랑'

In [330]:
# 첫번째 인자를 두번째 인자로 나눈 결과를 반환하는데 0으로 나누면 안되죠?
# 처리하세요

In [350]:
def f_test(x,y):
    try:
        return x/y
    except:
        return "0으로 나눌수 없습니다"

In [351]:
f_test(5,0)

'0으로 나눌수 없습니다'

In [402]:
# 마지막 문제, x와 y의 내적을 구하고
# x의 크기, y의 크기를 구하고
# cos 함수값을 구하세요
# 오류가 발생하면 예외처리하세요
x = [[np.random.randint(-100,100) for i in range(100)] for v in range(100)]
y = [np.random.randint(-100,100) for i in range(100)]

In [403]:
def magnitude(x): # x크기
    sum_ =0
    for i in x:
        sum_ += i*i
    return np.sqrt(sum_)

In [404]:
def dot(x_,y_): # 내적
    sum_ =0
    for i,j in zip(x_,y_):
        sum_ += i*j
    return sum_

In [405]:
def mean(x): # 평균
    sum_ =0
    for i in range(len(x)):
        sum_ += i
    return sum_/len(x)

In [409]:
dot_result =[dot(x[i],y) for i in range(len(x))]
dot_result[:2]

[-5457, -7265]

In [410]:
magnitude_result_x =[magnitude(x[i]) for i in range(len(x))]
magnitude_result_x[:2]

[569.4611488064835, 605.4254702273435]

In [411]:
magnitude_result_y = magnitude(y)
magnitude_result_y

599.0717820094684

In [414]:
for i,j in zip(dot_result, magnitude_result_x):
    print(i/j*magnitude_result_y) # cos_theta 값

-5740.751096501228
-7188.756850061943
3153.2382469733675
5405.49441580802
60291.85501851438
-38311.982624671386
10025.387336973141
-38485.32200306019
70770.18680701038
-35442.18405401744
38697.843955361066
48976.28888405947
-20757.690088764335
51812.58182005424
6535.082630714201
-48818.0323338563
17586.72243395051
5965.81688411105
7142.274698969264
14027.437342092198
24157.959175831766
3200.5697778364706
-19297.558543312738
-52846.92384136359
-33938.036272946585
-16500.3904420281
23366.6546959292
8522.753250887397
98603.07734420813
7243.3707935201655
12149.779748762332
-1870.1406202322896
18805.68149865043
22682.516392032943
53208.59444704093
6892.750670503481
-15317.898326898943
3862.7336345345875
13256.50602223201
31097.862160483146
1019.5719919723916
5689.471053212699
-57461.84461037754
34883.51611502378
15256.568740904171
14791.30499448969
-11240.661149199324
-16624.63248466656
-33070.8903035009
27240.08544845976
26102.847647368377
468.48952506969414
-37404.63850637375
-51718.65121128259
-38657.600850684656
25468.604842075085
1485.371756244427
-23503.007284240983
13628.664568496228
5705.339184402258
-18287.933970311347
-37729.2607556215
-630.1385433266358
-12349.666220138959
29037.74887475881
23311.655887911802
5672.439443515578
-9729.980452101225
54306.3458255816
-77473.231382515
-38773.593743664074
20450.858367733417
-25621.421169109213
16456.114221248696
2116.527152486987
26524.65904852701
21914.249321051968
-22905.27998649996
-953.5437812493495
-68885.26740728969
-36956.13075416867
-14619.036635826862
4637.550904049394
27120.309477334704
75022.05618917359
-3323.7588330369144
-36043.512219638804
38448.26361070112
19139.01303690328
63287.4948027442
24908.806256856526
-34924.639139192164
1925.510403357869
45228.77369718467
-10095.078745115494
44570.05309541641
-95855.48232605367
19464.36510488106
-16549.885248090428
-43946.29072818576