In [1]:
#문제1) 5의 배수 10개를 리스트에 저장
list1=[]
for i in range(10):
    list1.append((i+1)*5)
list1

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [2]:
[(i+1)*5 for i in range(10)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [3]:
#문제2) obj1 = {"times2":[2의 배수 10개],"times3":[3의 배수 10개],"times4":[4의 배수 10개], 
# "times5":[5의 배수 10개],"times6":[6의 배수 10개],"times7":[7의 배수 10개],
# "times8":[8의 배수 10개],"times9":[9의 배수 10개],"times10":[10의 배수 10개] }
# => 하나의 dictionary 생성

In [4]:
obj1={}
for j in range(10):
    obj1["time"+str(j+2)] = [(i+1)*(j+2) for i in range(10)]
obj1

{'time2': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 'time3': [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 'time4': [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 'time5': [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 'time6': [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 'time7': [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 'time8': [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 'time9': [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 'time10': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
 'time11': [11, 22, 33, 44, 55, 66, 77, 88, 99, 110]}

In [7]:
#문제3) obj1의 key에 해당하는 value들의 총합을 구하고
# obj2 = {"times2":2의 배수의 총합(리스트에 저장된 데이터의 총합) , 나머지도 마찬가지로 처리함}

obj2 = {}
for key, value in obj1.items():
    obj2[key] = sum(value)
obj2

{'time2': 110,
 'time3': 165,
 'time4': 220,
 'time5': 275,
 'time6': 330,
 'time7': 385,
 'time8': 440,
 'time9': 495,
 'time10': 550,
 'time11': 605}

In [9]:
obj2 = {}
for key, value in obj1.items():
    sum1 =0
    for i in value:
        sum1 += i
    obj2[key] = sum1
obj2

{'time2': 110,
 'time3': 165,
 'time4': 220,
 'time5': 275,
 'time6': 330,
 'time7': 385,
 'time8': 440,
 'time9': 495,
 'time10': 550,
 'time11': 605}

In [13]:
def sum_list(x): #모듈화
    sum1=0;
    for i in x:
        sum1+=i;
    return sum1

In [12]:
obj3={}
for key, value in obj1.items():
    obj3[key]=sum_list(value)
obj3

{'time2': 110,
 'time3': 165,
 'time4': 220,
 'time5': 275,
 'time6': 330,
 'time7': 385,
 'time8': 440,
 'time9': 495,
 'time10': 550,
 'time11': 605}

In [30]:
def odd_even_split_sum(x):
    sum_odd=0
    sum_even=0
    for i in x:
        if i%2==0:
            sum_even+=i
        else:
            sum_odd+=i
    return {"짝":sum_even,"홀":sum_odd}

In [16]:
#문제4) obj1의 value(리스트의 값이 홀수 인것의 합과 짝수 인것의 합을 분리함)
#obj = {"times2_홀":110,"times2_짝":110,"times3_홀":330,"times3_짝":0,}

In [18]:
obj3={}
for key, value in obj1.items():
    obj3[key]=odd_even_split_sum(value)
obj3

{'time2': {'짝': 110, '홀': 0},
 'time3': {'짝': 90, '홀': 75},
 'time4': {'짝': 220, '홀': 0},
 'time5': {'짝': 150, '홀': 125},
 'time6': {'짝': 330, '홀': 0},
 'time7': {'짝': 210, '홀': 175},
 'time8': {'짝': 440, '홀': 0},
 'time9': {'짝': 270, '홀': 225},
 'time10': {'짝': 550, '홀': 0},
 'time11': {'짝': 330, '홀': 275}}

In [25]:
final_obj={}
for key, value in obj3.items():
    for k_1, v_1 in value.items():
        final_obj[key+"_"+k_1] = v_1
final_obj

{'time2_짝': 110,
 'time2_홀': 0,
 'time3_짝': 90,
 'time3_홀': 75,
 'time4_짝': 220,
 'time4_홀': 0,
 'time5_짝': 150,
 'time5_홀': 125,
 'time6_짝': 330,
 'time6_홀': 0,
 'time7_짝': 210,
 'time7_홀': 175,
 'time8_짝': 440,
 'time8_홀': 0,
 'time9_짝': 270,
 'time9_홀': 225,
 'time10_짝': 550,
 'time10_홀': 0,
 'time11_짝': 330,
 'time11_홀': 275}

In [106]:
list_of_dict =[
    {"a":{"b":[11,23,213,171]}},
     {"a":{"b":[111,237,13,127]}},
     {"a":{"b":[211,2,13,1777]}},
     {"a":{"b":[311,253,13,117]}},
     {"a":{"b":[411,223,13,187]}},
     {"a":{"b":[171,213,13,107]}},
]

In [43]:
#문제1) {"a_b_1":[11,23,213,171의 총합], "a_b_2":[111,237,13,127의 총합], "a_b_3":[211,2,13,1777의 총합]}
# 각각의 6개의 총합이 나오는 딕셔너리 생성

In [295]:
#문제1
def sum_list(x):
    sum1=0;
    for i in x:
        sum1+=i
    return sum1

In [83]:
dict1={}
for idx, i in enumerate(list_of_dict):
    for k, v in i.items():
        for k1,v1 in v.items():
            dict1[k+"_"+k1+"_"+str(idx+1)] = sum_list(v1)
dict1

{'a_b_1': 418,
 'a_b_2': 488,
 'a_b_3': 2003,
 'a_b_4': 694,
 'a_b_5': 834,
 'a_b_6': 504}

In [ ]:
#문제2) {"a_b_1":[11,23,213,171의 각각의 요소의 3배의 총합], 
#"a_b_2":[111,237,13,127의 각각의 요소의 3배의 총합], 
#"a_b_3":[211,2,13,1777의 각각의 요쇼의 3배의 총합]}

In [139]:
#문제2
def sum_list2(x):
    sum2=0;
    for i in x:
        sum2 += i*3
    return sum2

In [140]:
dict2={}
for idx, i in enumerate(list_of_dict):
    for k, v in i.items():
        for k1,v1 in v.items():
            dict2[k+"_"+k1+"_"+str(idx+1)] = sum_list2(v1)
dict2

{'a_b_1': 1254,
 'a_b_2': 1464,
 'a_b_3': 6009,
 'a_b_4': 2082,
 'a_b_5': 2502,
 'a_b_6': 1512}

In [ ]:
#문제3) {"a_b_1": [11,23,213,171]의 각각의 요소의 3배한 결과가 짝수인 것들의 총합,
#"a_b_2":[111,237,13,127]의 각각의 요소의 3배한 결과가 짝수인 것들의 총합,
#"a_b_3": [211,2,13,1777]의 각각의 요소의 3배한 결과가 짝수인 것들의 총합}

In [141]:
#문제3
def sum_list3(x):
    sum3=0
    for i in x:
        if (i*3)%2==0:
            sum3 += (i*3)
    return sum3

In [142]:
dict3={}
for idx, i in enumerate(list_of_dict):
    for k, v in i.items():
        for k1,v1 in v.items():
            dict3[k+"_"+k1+"_"+str(idx+1)] = sum_list3(v1)
dict3

{'a_b_1': 0, 'a_b_2': 0, 'a_b_3': 6, 'a_b_4': 0, 'a_b_5': 0, 'a_b_6': 0}

In [ ]:
#문제4) {"a_b_1": [11,23,213,171]의 각각의 요소의 2배한 결과가 짝수인 것들의 총합,
#"a_b_2":[111,237,13,127]의 각각의 요소의 3배한 결과가 짝수인 것들의 총합,
#"a_b_3": [211,2,13,1777]의 각각의 요소의 4배한 결과가 짝수인 것들의 총합,
#"a_b_4": [311,253,13,117]의 각각의 요소의 5배한 결과가 짝수인 것들의 총합,
#"a_b_5": [411,223,13,187]의 각각의 요소의 6배한 결과가 짝수인 것들의 총합,
#"a_b_6": [171,213,13,107]의 각각의 요소의 6배한 결과가 짝수인 것들의 총합}

In [143]:
#문제4
def sum_list4(x,y):
    sum4=0
    for i in x:
        if (i*(y+2))%2==0:
            sum4 += (i*(y+2))
    return sum4

In [144]:
dict4={}
for idx, i in enumerate(list_of_dict):
    for k, v in i.items():
        for k1,v1 in v.items():
            dict4[k+"_"+k1+"_"+str(idx+1)] = sum_list4(v1,idx)
dict4

{'a_b_1': 836,
 'a_b_2': 0,
 'a_b_3': 8012,
 'a_b_4': 0,
 'a_b_5': 5004,
 'a_b_6': 0}

In [145]:
arr_list_dict = [
    {"a":{"b":{"c":[11,21],'d':[13,21,17]}}},
    {"a":{"b":{"c":[111,211],'d':[113,231,114]}}},
     {"a":{"b":{"c":[161,21],'d':[173,21,172]}}},
    {"a":{"b":{"c":[1141,211],'d':[113,231,111]}}},
    {"a":{"b":{"c":[131,21],'d':[13,241,172]}}},
    {"a":{"b":{"c":[110,211],'d':[23,2231,11]}}},
    {"a":{"b":{"c":[11,21],'d':[13,21,172]}}},
    {"a":{"b":{"c":[111,2011],'d':[113,2031,171]}}},
]
arr_list_dict

[{'a': {'b': {'c': [11, 21], 'd': [13, 21, 17]}}},
 {'a': {'b': {'c': [111, 211], 'd': [113, 231, 114]}}},
 {'a': {'b': {'c': [161, 21], 'd': [173, 21, 172]}}},
 {'a': {'b': {'c': [1141, 211], 'd': [113, 231, 111]}}},
 {'a': {'b': {'c': [131, 21], 'd': [13, 241, 172]}}},
 {'a': {'b': {'c': [110, 211], 'd': [23, 2231, 11]}}},
 {'a': {'b': {'c': [11, 21], 'd': [13, 21, 172]}}},
 {'a': {'b': {'c': [111, 2011], 'd': [113, 2031, 171]}}}]

In [146]:
#문제) c의 총합과 d의 총합을 구하세요
#{"a_b_c_d_1":{"c":총합 , "d": 총합},"a_b_c_d_2":{"c":총합 , "d": 총합}
# "a_b_c_d_3":{"c":총합 , "d": 총합},"a_b_c_d_4":{"c":총합 , "d": 총합}
# "a_b_c_d_5":{"c":총합 , "d": 총합},"a_b_c_d_6":{"c":총합 , "d": 총합}
# "a_b_c_d_7":{"c":총합 , "d": 총합},"a_b_c_d_8":{"c":총합 , "d": 총합}
#}

In [248]:
def sum_c_d(x):
    sum_c=0
    sum_d=0
    for i in x['c']:
        sum_c += i
    for i in x['d']:
        sum_d += i
    return {"c":sum_c, "d":sum_d}

In [269]:
arr_dict1={}
for idx,i in enumerate(arr_list_dict):
    for k ,v in i.items():
        for k1, v1 in v.items():
            arr_dict1[k+"_"+k1+"_"+"c_"+"d_"+str(idx+1)] = sum_c_d(v1)
arr_dict1

{'a_b_c_d_1': {'c': 32, 'd': 51},
 'a_b_c_d_2': {'c': 322, 'd': 458},
 'a_b_c_d_3': {'c': 182, 'd': 366},
 'a_b_c_d_4': {'c': 1352, 'd': 455},
 'a_b_c_d_5': {'c': 152, 'd': 426},
 'a_b_c_d_6': {'c': 321, 'd': 2265},
 'a_b_c_d_7': {'c': 32, 'd': 206},
 'a_b_c_d_8': {'c': 2122, 'd': 2315}}

In [296]:
def sum_a_b_for(x):
    obj_={}
    for key, value in x.items():
        obj_[key] = sum_list(value)
    return obj_

In [298]:
pp = {"a":[12,13,17,23],"b":[13,24,35,67],"f":[12,4,5,11],"z":[11,111,222,333]}
sum_a_b_for(pp)

{'a': 65, 'b': 139, 'f': 32, 'z': 677}

In [299]:
dict3 ={}
for key, value in obj1.items():
    even=0
    odd=0
    for i in value:
        if i%2==0:
            even+=i
        else:
            odd+=i
    dict3[key+'even']=even
    dict3[key+'odd']=odd
dict3

{'time2even': 110,
 'time2odd': 0,
 'time3even': 90,
 'time3odd': 75,
 'time4even': 220,
 'time4odd': 0,
 'time5even': 150,
 'time5odd': 125,
 'time6even': 330,
 'time6odd': 0,
 'time7even': 210,
 'time7odd': 175,
 'time8even': 440,
 'time8odd': 0,
 'time9even': 270,
 'time9odd': 225,
 'time10even': 550,
 'time10odd': 0,
 'time11even': 330,
 'time11odd': 275}

In [300]:
def obj_make(obj1):
    dict3 ={}
    for key, value in obj1.items():
        even=0
        odd=0
        for i in value:
            if i%2==0:
                even+=i
            else:
                odd+=i
        dict3[key+'even']=even
        dict3[key+'odd']=odd
    return dict3

In [301]:
obj_make(pp)

{'aeven': 12,
 'aodd': 53,
 'beven': 24,
 'bodd': 115,
 'feven': 16,
 'fodd': 16,
 'zeven': 222,
 'zodd': 455}

In [335]:
list_of_counter = [
    {"cnt":7,"name":['홍길동','홍말자']},
    {"cnt":8,"name":['홍길동','홍말자',"김개똥"]},
    {"cnt":3,"name":['홍길동','홍말자','국제아카데미']},
    {"cnt":17,"name":['홍길동','홍말자','홍콩 바나나']},
    {"cnt":5,"name":['홍길동','홍말자','미국 산 소고기']},
    {"cnt":9,"name":['홍길동','홍말자','한우','불고기']}
]
list_of_counter

[{'cnt': 7, 'name': ['홍길동', '홍말자']},
 {'cnt': 8, 'name': ['홍길동', '홍말자', '김개똥']},
 {'cnt': 3, 'name': ['홍길동', '홍말자', '국제아카데미']},
 {'cnt': 17, 'name': ['홍길동', '홍말자', '홍콩 바나나']},
 {'cnt': 5, 'name': ['홍길동', '홍말자', '미국 산 소고기']},
 {'cnt': 9, 'name': ['홍길동', '홍말자', '한우', '불고기']}]

In [304]:
[2,3,7]*5 #이것 활용하는것과 반복문을 활용하여 리스트에서 하나씩 꺼내서 반복하는것 두가지 구현

[2, 3, 7, 2, 3, 7, 2, 3, 7, 2, 3, 7, 2, 3, 7]

In [376]:
['홍길동','홍말자']*7
['홍길동','홍말자','김개똥']*8

['홍길동',
 '홍말자',
 '김개똥',
 '홍길동',
 '홍말자',
 '김개똥',
 '홍길동',
 '홍말자',
 '김개똥',
 '홍길동',
 '홍말자',
 '김개똥',
 '홍길동',
 '홍말자',
 '김개똥',
 '홍길동',
 '홍말자',
 '김개똥',
 '홍길동',
 '홍말자',
 '김개똥',
 '홍길동',
 '홍말자',
 '김개똥']

In [328]:
def f(*x, **y): #파라미터 여러개를 받아서 unpack함
    print(y)
    return list(map(lambda y: y*3, x))

In [329]:
f(3,4,5,n='홍길동',age=15)

{'n': '홍길동', 'age': 15}

[9, 12, 15]

In [305]:
# 문제3) 6개의 dictionary가 있는데 각각의 dictionary 마다 cnt의 값만큼 name에 들어있는 리스트를 반복하여
# 저장함 new:['홍길동','홍말자','홍길동','홍말자','홍길동','홍말자','홍길동','홍말자']
#'홍길동','홍말자','홍길동','홍말자','홍길동','홍말자'] => 7회 반복
# new: ['홍길동','홍말자','김개똥',8회 반복]

In [377]:
def iter_list(x): #입력 => dictionary
    list_result=[]
    for i in range(x['cnt']): # cnt 횟수만큼 반복
        for j in x['name']:
            list_result.append(j)
    return {'cnt': x['cnt'],'name':x['name'], 'new':list_result}

In [379]:
list(map(iter_list, list_of_counter))

[{'cnt': 7,
  'name': ['홍길동', '홍말자'],
  'new': ['홍길동',
   '홍말자',
   '홍길동',
   '홍말자',
   '홍길동',
   '홍말자',
   '홍길동',
   '홍말자',
   '홍길동',
   '홍말자',
   '홍길동',
   '홍말자',
   '홍길동',
   '홍말자']},
 {'cnt': 8,
  'name': ['홍길동', '홍말자', '김개똥'],
  'new': ['홍길동',
   '홍말자',
   '김개똥',
   '홍길동',
   '홍말자',
   '김개똥',
   '홍길동',
   '홍말자',
   '김개똥',
   '홍길동',
   '홍말자',
   '김개똥',
   '홍길동',
   '홍말자',
   '김개똥',
   '홍길동',
   '홍말자',
   '김개똥',
   '홍길동',
   '홍말자',
   '김개똥',
   '홍길동',
   '홍말자',
   '김개똥']},
 {'cnt': 3,
  'name': ['홍길동', '홍말자', '국제아카데미'],
  'new': ['홍길동',
   '홍말자',
   '국제아카데미',
   '홍길동',
   '홍말자',
   '국제아카데미',
   '홍길동',
   '홍말자',
   '국제아카데미']},
 {'cnt': 17,
  'name': ['홍길동', '홍말자', '홍콩 바나나'],
  'new': ['홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나',
   '홍길동',
   '홍말자',
   '홍콩 바나나']},
 {'cnt': 5,
  'name': ['홍길동', '홍말자', '미국 산 소고기'],
  'new': ['홍길동',
   '홍말자',
   '미국 산 소고기',
   '홍길동',
   '홍말자',
   '미국 산 소고기',
   '홍길동',
   '홍말자',
   '미국 산 소고기',
   '홍길동',
   '홍말자',
   '미국 산 소고기',
   '홍길동',
   '홍말자',
   '미국 산 소고기']},
 {'cnt': 9,
  'name': ['홍길동', '홍말자', '한우', '불고기'],
  'new': ['홍길동',
   '홍말자',
   '한우',
   '불고기',
   '홍길동',
   '홍말자',
   '한우',
   '불고기',
   '홍길동',
   '홍말자',
   '한우',
   '불고기',
   '홍길동',
   '홍말자',
   '한우',
   '불고기',
   '홍길동',
   '홍말자',
   '한우',
   '불고기',
   '홍길동',
   '홍말자',
   '한우',
   '불고기',
   '홍길동',
   '홍말자',
   '한우',
   '불고기',
   '홍길동',
   '홍말자',
   '한우',
   '불고기',
   '홍길동',
   '홍말자',
   '한우',
   '불고기']}]

In [352]:
obj_result={}
for i in list_of_counter:
    for k,v in i.items():
        print(k,v)
        obj_result['new'] = v
obj_result

cnt 7
name ['홍길동', '홍말자']
cnt 8
name ['홍길동', '홍말자', '김개똥']
cnt 3
name ['홍길동', '홍말자', '국제아카데미']
cnt 17
name ['홍길동', '홍말자', '홍콩 바나나']
cnt 5
name ['홍길동', '홍말자', '미국 산 소고기']
cnt 9
name ['홍길동', '홍말자', '한우', '불고기']

{'new': ['홍길동', '홍말자', '한우', '불고기']}

In [313]:
list_of_counter[0]['cnt']=[11,22]
obj_11 = list_of_counter[0]
import pandas as pd

In [314]:
pd.DataFrame(obj_11)

   cnt name
0   11  홍길동
1   22  홍말자

In [414]:
arr=[[1,2,3],[4,5],[2,3,7]]

In [382]:
#문제 1 arr의 배열을 obj={"a1":6,"a2":9,"a3":12}로 나오게 함수작성

In [425]:
#1번
def sum_obj(x):
    sum1=0
    for i in x:
        sum1 += i
    return sum1

In [430]:
obj={}
for idx,i in enumerate(arr):
    obj["a"+str(idx+1)] = sum_obj(i)
obj

{'a1': 6, 'a2': 9, 'a3': 12}

In [450]:
#2번, 문자열의 길이를 리스트로 [3,2]
dict_1={'a':"홍길동",'b':"구분"}

In [454]:
def dict_len1(x):
    list_result=[]
    for key, value in x.items():
        list_result.append(len(value))
    return list_result

In [456]:
list1=[]
for i in dict_1:
    list1 = dict_len1(dict_1)
list1

[3, 2]

In [457]:
#3번 
list_2=[{"a":[1,2],"b":[5,7]},
       {"a":[4,3],"b":[1,2,3]},
       {"a":[11,12],"b":[13,14,15]}]
#{"a":1+2+4+3+11+12,
# "b":5+7+1+2+3+13+14+15}
#가 나오게 만들어라

In [552]:
def dict_sum1(x):
    dict3={}
    sum1=0
    sum2=0
    for i in x:
        for v1 in i['a']:
            sum1 += v1
            dict3['a']=sum1
        for v2 in i['b']:
            sum2 += v2
            dict3['b']=sum2
    return dict3

In [553]:
dict_sum1(list_2)

{'a': 33, 'b': 60}