In [1]:
collection=[1,2,None,4,None,5] # iterable 한 데이터(리스트) , iterable = 반복가능한
total=0
for value in collection:
    if value is None: # 조건이 만족하면
        continue #아래로 가지말고 다시 반복문으로 이동
    total += value
total

12

In [2]:
for i in range(4):
    for j in range(4):
        print("사랑")
        if j>1:
            break
        print((i,j))

사랑
(0, 0)
사랑
(0, 1)
사랑
사랑
(1, 0)
사랑
(1, 1)
사랑
사랑
(2, 0)
사랑
(2, 1)
사랑
사랑
(3, 0)
사랑
(3, 1)
사랑

In [3]:
for i in range(4):
    for j in range(4):
        print("사랑")
        if j>1:
            break
        print((i,j))
    if i>2:
        break
    print("믿음")

사랑
(0, 0)
사랑
(0, 1)
사랑
믿음
사랑
(1, 0)
사랑
(1, 1)
사랑
믿음
사랑
(2, 0)
사랑
(2, 1)
사랑
믿음
사랑
(3, 0)
사랑
(3, 1)
사랑

In [4]:
for i in range(4):
    for j in range(4):
        print("사랑")
        if j>1:
            continue
        print((i,j))

사랑
(0, 0)
사랑
(0, 1)
사랑
사랑
사랑
(1, 0)
사랑
(1, 1)
사랑
사랑
사랑
(2, 0)
사랑
(2, 1)
사랑
사랑
사랑
(3, 0)
사랑
(3, 1)
사랑
사랑

In [5]:
# 1부터 3까지의 총합을 break를 이용
arr=[1,2,3,4,7]
sum1=0
for i in arr:
    if i>3:
        break
    sum1 += i
print(sum1)

6

In [6]:
# 1,2,3,7의 총합을 contiue 이용하여 구하라 (contiue을 안써도 답이나옴)
arr=[1,2,3,4,7]
sum1=0
for i in arr:
    if i != 4:
        sum1 += i
print(sum1)

13

In [7]:
# 1,2,3,7의 총합을 contiue 이용하여 구하라
arr=[1,2,3,4,7]
sum1=0
for i in arr:
    if i == 4:
        continue
    sum1 += i
print(sum1)

13

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(map(lambda x : x+5,[1,2,3]))

[6, 7, 8]

In [10]:
nested_tupe =(4,5,6),(7,8)
nested_tupe[0]

(4, 5, 6)

In [11]:
tuple('홍길동') #문자열 -> tuple로 변환

('홍', '길', '동')

In [12]:
list('홍길동') #문자열 -> tuple로 변환

['홍', '길', '동']

split()은 문자열을 지정된 구분자(delimiter)를 기준으로 나누어 리스트로 반환하는 파이썬의 문자열 메서드

In [13]:
'홍,길,동'.split(',')

['홍', '길', '동']

In [14]:
"김단아,권동훈,조훈영,유강진".split(",")

['김단아', '권동훈', '조훈영', '유강진']

In [15]:
arr_str = list("0123456789")
arr_str

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [16]:
list_sum=0
for i in arr_str:
    list_sum += int(i)
list_sum

45

In [17]:
list_sum = sum([int(i) for i in arr_str])
list_sum

45

reduce 함수는 리스트나 시퀀스의 원소를 반복적으로 처리하여 단일 값으로 축소시키는 함수

In [18]:
from functools import reduce
reduce(lambda x, y : x+y,[int(i) for i in arr_str])

45

In [19]:
tup=(4,5,6)
a,b,c=tup
a

4

In [20]:
tup=4,5,(6,7)
a,b,c=tup
d,f=c
d

6

In [21]:
tup_nested = ((1,2),(3,4),(5,6),(7,8))
tup_nested

((1, 2), (3, 4), (5, 6), (7, 8))

In [22]:
# tup_nested 총합을 구하세요

In [23]:
sum1=0
for i in tup_nested:
    for j in i:
        sum1 += j
sum1

36

In [24]:
# dict={"first":1+3+5+7, "second":2+4+6+8} 이런식으로 만들어라

In [25]:
dict1 ={"first":0,"second":0}
sum1=0
sum2=0
for i in tup_nested:
    sum1 += i[0]
    dict1["first"] = sum1
    sum2 += i[1]
    dict1["second"] = sum2
dict1

{'first': 16, 'second': 20}

In [26]:
a_list=[2,3,7,None]
tup=['foo','bar','baz']
b_list = list(tup)
b_list.append('dwarf')
b_list.insert(1,'red')

In [27]:
b_list.pop() # b_list를 역으로 저장

'dwarf'

In [28]:
list1=[]
for i in range(len(b_list)):
    list1.append(b_list.pop())
list1

['baz', 'bar', 'red', 'foo']

In [29]:
b_list.reverse()
b_list

[]

In [30]:
# b_list에서 하나씩 꺼내서 a_list의 총합의 갯수만큼 문자열 결합 None는 제외해야함
# dict7={"foo":"foofoofoofoo12번결합","bar":"bar12번결합","bar":"12번결합"}

dict7={}
sum1=0
for i in a_list:
    if i is None:
        break
    sum1 += i
    for j in b_list:
        dict7[j] = j*sum1
dict7

{}

In [31]:
#강사님
dict7={}
for i in b_list:
    str_=""
    for j in range(sum1):
        str_ += i
    dict7[i] = str_
dict7

{}

In [32]:
dict10={}

for v in ['홍길동','김말자','김개똥']:
    str_=""
    for i in range(5):
        str_+= v
    dict10[v]=str_
dict10

{'홍길동': '홍길동홍길동홍길동홍길동홍길동', '김말자': '김말자김말자김말자김말자김말자', '김개똥': '김개똥김개똥김개똥김개똥김개똥'}

# 문제1) 함수설계
문자열과 숫자 두개를 받아서 문자열을 key값으로 하고 value는 두번째로 전달되는 숫자만큼
반복하여 문자열 결합한것을 value로 하여 dictionary로 반환함

In [42]:
#문제1
def f(x,y):
    dict_sum={}
    str1=""
    for i in range(y):
        str1 += x
    dict_sum[x] = str1
    return dict_sum

In [43]:
f("은영",4)

{'은영': '은영은영은영은영'}

# 문제2) 함수 설계
문자열 리스트와 숫자 리스트 두개를 받아서
문자열과 숫자 리스트는 크기가 같다고 가정하고 zip으로 묶어서
문자열을 해당되는 숫자만큼 반복하여 문자열 결합한것을 value로 하여 dictionary로 반환함

In [104]:
# zip의 예
for v,w in zip(["헝","길"],[2,3]):
    print(v,w)

헝 2
길 3

In [102]:
#문제2
def f(x1,y1):
    dict_v={}
    for i,j in zip(x1,y1):
        str2=""
        str2 += i*j
        dict_v[i] = str2
    return dict_v

In [112]:
f(["은영","짱구"],[2,4])

{'은영': '은영은영', '짱구': '짱구짱구짱구짱구'}

In [109]:
#강사님)
def g(x,y):
    obj_ ={}
    for i,j in zip(x,y):
        str_ =""
        for _ in range(j):
            str_ += i
        obj_[i]=str_
    return obj_

In [110]:
g(["은영","짱구"],[2,4])

{'은영': '은영은영', '짱구': '짱구짱구짱구짱구'}

In [150]:
#강사님)
def g(x,y):
    obj_ ={}
    for i,j in zip(x,y):
        str_ =""
        for _ in range(j):
            str_ += i
        obj_[i]=str_c
    return obj_

In [181]:
data = [ [['홍','길동'],[3,4]] , [['김국제','아카데미'],[7,2]],[['마산','갈비'],[3,14]] ]
#data를 g 함수에 적용하세요
data[0]

[['홍', '길동'], [3, 4]]

In [146]:
list(map(lambda x : g(x[0],x[1]), data))

[{'홍': '홍홍홍', '길동': '길동길동길동길동'},
 {'김국제': '김국제김국제김국제김국제김국제김국제김국제', '아카데미': '아카데미아카데미'},
 {'마산': '마산마산마산', '갈비': '갈비갈비갈비갈비갈비갈비갈비갈비갈비갈비갈비갈비갈비갈비'}]

## 리스트 이어붙이기

In [278]:
a = [1,2,3,4]
b=["홍길동","홍말자","김개똥"]
a.extend(b)

In [279]:
a

[1, 2, 3, 4, '홍길동', '홍말자', '김개똥']

## 정렬

In [280]:
a=[7,2,5,1,3]
a.sort() # 내림차순
a

[1, 2, 3, 5, 7]

In [281]:
b=["saw","small","he","foxes","six"]
b.sort(key=len) # 문자열의 길이가 작은것부터 정렬
b

['he', 'saw', 'six', 'small', 'foxes']

In [282]:
list_of_list=[[1,2,3],[10,20,30],[6,4,7,8]]
list_of_list.sort(key=sum) # 합이 작은순으로 정렬
list_of_list

[[1, 2, 3], [6, 4, 7, 8], [10, 20, 30]]

In [283]:
import numpy as np

$$ \sum_{i=0}^3 log(x_{i}) $$

In [290]:
def log_t(x):
    return sum(np.log(x))

In [291]:
list_of_list=[[111,2,3],[10,20,30],[6,4,7,8]]
list_of_list.sort(key=log_t)
list_of_list

[[111, 2, 3], [6, 4, 7, 8], [10, 20, 30]]

In [303]:
seq=[7,2,3,7,6,0,1,5,8]

In [341]:
seq1=[np.random.randint(100) for i in range(100)]
#seq1

In [323]:
#batch size 단위로 학습
print(seq[:3])
print(seq[3:6])
print(seq[6:])

[7, 2, 3]
[7, 6, 0]
[1, 5, 8]

In [355]:
for i in range(3):
    print(seq[(i*3):(i+1)*3])

[7, 2, 3]
[7, 6, 0]
[1, 5, 8]

In [352]:
bs = 20
for i in range(len(seq1)//bs):
    re_i = i*bs # i가 0일때 bs만큼 증가하게 하려면
    re_j = (i+1)*bs
    # i가 0일때 bs를 곱하면 re는 0이고 다음 값은 (i+1)+bs
    print(seq1[re_i:re_j])

[74, 3, 79, 68, 69, 42, 90, 39, 56, 57, 41, 86, 12, 47, 76, 88, 76, 64, 40, 57]
[92, 90, 6, 73, 76, 7, 64, 3, 75, 66, 57, 44, 23, 7, 96, 8, 93, 68, 94, 21]
[18, 81, 9, 72, 6, 54, 45, 84, 28, 84, 58, 13, 15, 59, 81, 85, 6, 76, 23, 41]
[10, 95, 20, 51, 32, 32, 74, 43, 65, 89, 95, 51, 58, 7, 39, 62, 7, 98, 96, 10]
[20, 68, 97, 84, 28, 5, 51, 11, 12, 63, 94, 48, 75, 86, 96, 21, 75, 9, 41, 36]

In [361]:
x = np.array([[ np.random.randint(100) for _ in range(100)] for _ in range(100)])
np.shape(np.array(x))

(100, 100)

In [358]:
y = np.array([np.random.randint(100) for _ in range(100)])
y

array([86,  5, 49, 71, 90, 25, 53, 89, 87, 62, 60, 10, 71, 48, 19, 50,  6,
       31, 86,  8, 34, 80, 11, 63, 75, 73, 59, 25, 89, 45,  0, 30, 27, 15,
       88, 88, 38, 19, 50, 92, 69, 88, 88, 17, 34, 93, 57,  1, 60,  5, 50,
       79,  8, 70, 31,  9, 81, 60, 95, 89, 56, 21, 96,  3, 39, 20, 43, 80,
       35, 16, 79, 35, 16, 96, 93, 13, 18, 54, 96, 59,  9, 49, 16, 75, 58,
       59, 24, 86, 88, 81, 78, 94, 31, 82, 71, 12,  1, 95, 14, 61])

In [434]:
np.dot(x[0],y)

266126

In [362]:
np.dot(x,y)

array([266126, 270394, 275764, 254943, 236555, 240734, 269031, 204870,
       238715, 248872, 254049, 252300, 238320, 267114, 277852, 265067,
       271008, 260983, 265194, 255634, 282731, 252772, 272299, 271133,
       260370, 289275, 231122, 270451, 250397, 261727, 265755, 238396,
       258334, 240297, 226204, 255274, 236999, 283977, 278889, 249240,
       260214, 258597, 233957, 270998, 233089, 277629, 267682, 238723,
       254119, 231791, 289826, 210409, 267606, 287955, 270588, 234706,
       267345, 235390, 230190, 274110, 229313, 246443, 245557, 265510,
       258458, 271920, 278704, 258000, 273636, 250927, 244127, 266038,
       254058, 268729, 215841, 257158, 261921, 246291, 241867, 245557,
       247138, 237560, 249749, 267016, 253898, 266065, 265642, 261566,
       269813, 269966, 238844, 261260, 273261, 232174, 231370, 266937,
       274097, 243699, 247842, 248555])

$$ \overrightarrow{a} = (a_{1},a_{2},a_{3}, \cdot \cdot \cdot , a_{n-1},a_{n}) $$
$$ \overrightarrow{b} = (b_{1},b_{2},b_{3}, \cdot \cdot \cdot , b_{n-1},b_{n}) $$
$$ \overrightarrow{a} \cdot \overrightarrow{b}
    = a_{1}b_{1}+a_{2}b_{2}+a_{3}b_{3} + \cdot \cdot \cdot + a_{n-1}b_{n-1}
        +a_{n}b_{n} $$

$$ \sum_{i=0}^n a_{i}b_{i} $$
$$ \overrightarrow{a} \cdot \overrightarrow{b} = | \overrightarrow{a} | 
    | \overrightarrow{b} |   COS \theta \rightarrow \theta=a 벡터와 b 벡터가 
    이루는 각도$$

<img src="1/dotpng.png"/>

$$ cos(0 ^\circ) = 1 $$
$$ 2 \pi = 360^{\circ} $$

In [446]:
np.cos(np.pi/4)

0.7071067811865476

In [447]:
1/np.sqrt(2)

0.7071067811865475

$$ \overrightarrow{a} = | \overrightarrow{a} | = 
\sqrt{{a_{1}^2+a_{2}^2 + a_{3}^2} + \cdot \cdot \cdot + a_{n-1}^2+a_{n}^2} $$

$$ \frac{1}{2} = 2^{-1} = \sqrt{2} $$
$$ 제곱해서 나오는 수를 root라 한다 $$

In [566]:
def abs_vec1(*x): # 자바스크립트의 sperad operator(...), *x는 x로받은 여러개의 인자를 튜플형태로 묶어줌
    result=0
    for i in x:
        result += i*i
    return pow(result, 1/2)

In [552]:
abs_vec1(3,4)

5.0

In [557]:
def kwon(*k, **dana): # **dana는 x=5 key=value를 받아서 딕셔너리형태로 만듬 
    #print(k)
    str_ =""
    for i in k:
        str_ += str(i)
    print(dana)
    return str_

In [559]:
kwon('a','b','c',11, x=5,y=11,z=123)

{'x': 5, 'y': 11, 'z': 123}

'abc11'

In [570]:
def abs_vec(x):
    result=0
    for i in x:
        result += i*i
    return pow(result, 1/2) # pow 제곱(제곱할값, n승), 1/2제곱은 루트

In [548]:
abs_vec([3,4])

5.0

In [576]:
dot_a_b = dot_zip(x[0],y)

In [574]:
a_abs = abs_vec(x[0])

In [575]:
b_abs = abs_vec(y)

In [579]:
cos_theta = dot_a_b / (a_abs*b_abs)
theta = np.arccos(cos_theta) # a벡터와 b벡터가 이루는 각도의 cos한 값
print(cos_theta, theta)

0.7877582749041931 0.6636351015893303

In [581]:
np.cos(0.6636351015893303)

0.7877582749041931

In [534]:
def pow_(a,b):
    result=1
    for _ in range(b):
        result *= a
    return result

In [540]:
pow_(3,2)

9

In [517]:
def vec1(x):
    result1=0
    for i in x:
        result1 += (i*i)
    return np.sqrt(result1)

In [542]:
vec1([4,2])

4.47213595499958

In [520]:
def vec2(x):
    result1=0
    for i in x:
        result1 += (i*i)
    return math.pow(result1,1/2)

In [543]:
vec2([4,2])

4.47213595499958

In [471]:
import math

$$ 2 * math.pi(3.14*2) : 9.869604401089358 = $$

In [475]:
[(((2*math.pi)/(i+1)), math.cos((2*math.pi)/(i+1))) for i in range(100)] #cos 360도를 i를 증가시키면서
#각도를 계속 100으로까지 나눈결과

[(6.283185307179586, 1.0),
 (3.141592653589793, -1.0),
 (2.0943951023931953, -0.4999999999999998),
 (1.5707963267948966, 6.123233995736766e-17),
 (1.2566370614359172, 0.30901699437494745),
 (1.0471975511965976, 0.5000000000000001),
 (0.8975979010256552, 0.6234898018587336),
 (0.7853981633974483, 0.7071067811865476),
 (0.6981317007977318, 0.766044443118978),
 (0.6283185307179586, 0.8090169943749475),
 (0.5711986642890533, 0.8412535328311812),
 (0.5235987755982988, 0.8660254037844387),
 (0.483321946706122, 0.8854560256532099),
 (0.4487989505128276, 0.9009688679024191),
 (0.41887902047863906, 0.9135454576426009),
 (0.39269908169872414, 0.9238795325112867),
 (0.36959913571644626, 0.9324722294043558),
 (0.3490658503988659, 0.9396926207859084),
 (0.3306939635357677, 0.9458172417006346),
 (0.3141592653589793, 0.9510565162951535),
 (0.2991993003418851, 0.9555728057861407),
 (0.28559933214452665, 0.9594929736144974),
 (0.2731819698773733, 0.9629172873477994),
 (0.2617993877991494, 0.9659258262890683),
 (0.25132741228718347, 0.9685831611286311),
 (0.241660973353061, 0.970941817426052),
 (0.23271056693257727, 0.9730448705798238),
 (0.2243994752564138, 0.9749279121818236),
 (0.21666156231653746, 0.9766205557100867),
 (0.20943951023931953, 0.9781476007338057),
 (0.2026833970057931, 0.9795299412524945),
 (0.19634954084936207, 0.9807852804032304),
 (0.19039955476301776, 0.9819286972627067),
 (0.18479956785822313, 0.9829730996839018),
 (0.17951958020513104, 0.9839295885986297),
 (0.17453292519943295, 0.984807753012208),
 (0.16981581911296179, 0.9856159103477085),
 (0.16534698176788384, 0.9863613034027223),
 (0.16110731556870733, 0.9870502626379128),
 (0.15707963267948966, 0.9876883405951378),
 (0.15324842212633139, 0.9882804237803485),
 (0.14959965017094254, 0.9888308262251285),
 (0.14612058853906015, 0.9893433680751103),
 (0.14279966607226333, 0.9898214418809327),
 (0.13962634015954636, 0.9902680687415704),
 (0.13659098493868665, 0.9906859460363308),
 (0.13368479376977843, 0.9910774881547801),
 (0.1308996938995747, 0.9914448613738104),
 (0.1282282715750936, 0.9917900138232462),
 (0.12566370614359174, 0.9921147013144779),
 (0.12319971190548208, 0.9924205096719357),
 (0.1208304866765305, 0.992708874098054),
 (0.11855066617319975, 0.9929810960135169),
 (0.11635528346628864, 0.993238357741943),
 (0.11423973285781065, 0.9934817353485502),
 (0.1121997376282069, 0.9937122098932426),
 (0.11023132117858923, 0.9939306773179495),
 (0.10833078115826873, 0.9941379571543596),
 (0.10649466622338281, 0.9943348002101371),
 (0.10471975511965977, 0.9945218953682733),
 (0.10300303782261616, 0.9946998756145891),
 (0.10134169850289655, 0.9948693233918952),
 (0.09973310011396169, 0.9950307753654014),
 (0.09817477042468103, 0.9951847266721969),
 (0.0966643893412244, 0.9953316347176486),
 (0.09519977738150888, 0.9954719225730846),
 (0.09377888518178487, 0.9956059820218981),
 (0.09239978392911156, 0.9957341762950345),
 (0.0910606566257911, 0.9958568425315313),
 (0.08975979010256552, 0.9959742939952391),
 (0.08849556770675474, 0.9960868220749448),
 (0.08726646259971647, 0.9961946980917455),
 (0.08607103160519981, 0.9962981749346078),
 (0.08490790955648089, 0.9963974885425265),
 (0.08377580409572781, 0.9964928592495044),
 (0.08267349088394192, 0.9965844930066698),
 (0.08159980918415047, 0.9966725824941932),
 (0.08055365778435367, 0.99675730813421),
 (0.07953399123012135, 0.9968388390146958),
 (0.07853981633974483, 0.996917333733128),
 (0.07757018897752575, 0.996992941167792),
 (0.07662421106316569, 0.9970658011837404),
 (0.07570102779734442, 0.997136045279652),
 (0.07479982508547127, 0.9972037971811801),
 (0.07391982714328925, 0.997269173385788),
 (0.07306029426953008, 0.9973322836635516),
 (0.07222052077217915, 0.9973932315179498),
 (0.07139983303613166, 0.9974521146102535),
 (0.07059758772111895, 0.9975090251507638),
 (0.06981317007977318, 0.9975640502598242),
 (0.06904599238658886, 0.9976172723012476),
 (0.06829549246934333, 0.9976687691905392),
 (0.06756113233526437, 0.9977186146800707),
 (0.06684239688488922, 0.9977668786231532),
 (0.06613879270715355, 0.9978136272187745),
 (0.06544984694978735, 0.9978589232386035),
 (0.06477510625958337, 0.9979028262377116),
 (0.0641141357875468, 0.9979453927503363),
 (0.06346651825433926, 0.9979866764718844),
 (0.06283185307179587, 0.9980267284282716)]

In [440]:
def dot_zip(x,y):
    sum1=0;
    for i,j in zip(x,y):
        sum1 += i*j
    return sum1

In [442]:
dot_zip(x[0],y)

266126

In [441]:
def dot_nogada(x,y):
    sum1=0;
    for idx_i, i in enumerate(x):
        for idx_j, j in enumerate(y):
            if idx_i == idx_j:
                sum1 += i*j
    return sum1

In [443]:
dot_nogada(x[0],y)

266126