In [3]:
list_of_tuple = [(1,10,20,20),(2,20,100,200),(3,10,23,34)]
list_of_tuple

[(1, 10, 20, 20), (2, 20, 100, 200), (3, 10, 23, 34)]

In [4]:
data = [(1, 30, 40, 50, 100, 34.0, '가'), (2, 30, 40, 50, 100, 34.0, '가'), (3, 30, 40, 50, 100, 34.0, '가'), (4, 90, 90, 90, 270, 90.0, '수')]

In [5]:
data

[(1, 30, 40, 50, 100, 34.0, '가'),
 (2, 30, 40, 50, 100, 34.0, '가'),
 (3, 30, 40, 50, 100, 34.0, '가'),
 (4, 90, 90, 90, 270, 90.0, '수')]

In [2]:
[
    {'fno':1, 'korea':10, 'math':20, 'eng':20},
    {'fno':2, 'korea':20, 'math':110, 'eng':200},
    {'fno':3, 'korea':10, 'math':23, 'eng':34}
    
]

[{'fno': 1, 'korea': 10, 'math': 20, 'eng': 20},
 {'fno': 2, 'korea': 20, 'math': 110, 'eng': 200},
 {'fno': 3, 'korea': 10, 'math': 23, 'eng': 34}]

In [60]:
list1=[]
for i in data:
    fno, k , m , e , t , a , g = i # 각 열에 해당되는 값을 지정해줌
    dict1={}
    dict1['fno'] = fno
    dict1['korea'] = k
    dict1['math'] = m
    dict1['eng'] = e
    dict1['total'] = t
    dict1['avg'] = a
    dict1['grade'] = g
    list1.append(dict1)
        
list1

[{'fno': 1,
  'korea': 30,
  'math': 40,
  'eng': 50,
  'total': 100,
  'avg': 34.0,
  'grade': '가'},
 {'fno': 2,
  'korea': 30,
  'math': 40,
  'eng': 50,
  'total': 100,
  'avg': 34.0,
  'grade': '가'},
 {'fno': 3,
  'korea': 30,
  'math': 40,
  'eng': 50,
  'total': 100,
  'avg': 34.0,
  'grade': '가'},
 {'fno': 4,
  'korea': 90,
  'math': 90,
  'eng': 90,
  'total': 270,
  'avg': 90.0,
  'grade': '수'}]