In [11]:
import numpy as np

In [64]:
A=[[2,3],[1,2]]
B=[[1,2],[1,3]]

In [204]:
c00 = A[0][0]*B[0][0] + A[0][1]*B[1][0] # A의 0행과  B의 0열의 내적
c01 = A[0][0]*B[0][1] + A[0][1]*B[1][1] # A의 0행과  B의 1열의 내적
c10 = A[1][0]*B[0][0] + A[1][1]*B[1][0] # A의 1행과  B의 0열의 내적
c11 = A[1][0]*B[0][1] + A[1][1]*B[1][1] # A의 1행과  B의 1열의 내적
[[c00,c01],[c10,c11]]

[[5, 13], [3, 8]]

In [165]:
transposed_B = list(zip(*B)) # B를 transpose해서 역행렬로 만듬

In [169]:
def dot(x,y):
    return sum([i*j for i,j in zip(x,y)])

In [210]:
C_a = []
for i in A:
    C_b = []
    for j in transposed_B:
#         print(i,j)
        C_b.append(dot(i,j))
    C_a.append(C_b)
C_a

[[5, 13], [3, 8]]

In [211]:
import pandas as pd

In [212]:
obj = pd.Series(range(3), index=['a','b','c'])
obj

a    0
b    1
c    2
dtype: int64

In [213]:
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [214]:
index[1:]

Index(['b', 'c'], dtype='object')

In [216]:
index[1]='d' # index객체는 변경불가, mutable(수정가능)
# immutable(수정불가능) => 순수(pure function)

TypeError: Index does not support mutable operations

In [219]:
#재 색인(reindex)

obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d','b','a','c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [222]:
obj2 = obj.reindex(['a','b','c','d','e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [231]:
obj3 = pd.Series(['blue','purple','yellow'], index=[0,2,4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [230]:
obj3.reindex(range(6), method='ffill') 
# forward fill 누락된값을 앞선값으로 채운다

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [234]:
obj4 =obj3.reindex(range(6), method='bfill') 
# forward fill 누락된 값을 뒤쪽값으로 채운다
obj4

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

In [256]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)), index=['a','c','d'],
                    columns=['Ohio','Texas','California'])
# frame
frame2 = frame.reindex(index=['a','b','c','d']) 
# b index의 값이 없는것은 NaN(Not A Number)
for i in frame2['Ohio']:
    print(np.isnan(i)) # frame2의 Ohio값 check, nan인지 check

False
True
False
False

In [266]:
pd.isna(frame2['Ohio']) # frame2의 Ohio값 check

a    False
b     True
c    False
d    False
Name: Ohio, dtype: bool

In [267]:
np.isnan(frame2['Ohio']) # frame2의 Ohio값 check

a    False
b     True
c    False
d    False
Name: Ohio, dtype: bool

In [268]:
frame2.replace(np.nan, 999) # replace로 nan 데이터를 999로 대체,

    Ohio  Texas  California
a    0.0    1.0         2.0
b  999.0  999.0       999.0
c    3.0    4.0         5.0
d    6.0    7.0         8.0

In [269]:
obj=pd.Series(np.arange(4.), index=['a','b','c','d'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [273]:
obj['b'] # index값으로 줌

1.0

In [272]:
obj[2:4] # Series에서 index를 숫자로 줄수 있음

c    2.0
d    3.0
dtype: float64

In [271]:
obj[obj<2] # 2보다 작은 값

a    0.0
b    1.0
dtype: float64

In [279]:
data = pd.DataFrame(np.arange(16).reshape((4,4)) # 4행4열 16개
                    , index=['Ohio','Colorado','Utah','New York'] # 행
                    ,columns=['one','two','three','four']) # 열
data.to_csv('f.csv') #파일저장되는곳에 f라는 이름으로 저장
# 한국어 설정 encoding='utf-8'

In [280]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [542]:
obj={}
obj['국어']=[np.random.randint(50,100) for i in range(100)]
obj['수학']=[np.random.randint(50,100) for i in range(100)]
obj['영어']=[np.random.randint(50,100) for i in range(100)]
#obj의 총점, 평균 ,등급을 구하고 DataFrame으로 변환후 csv 파일로 저장
obj

{'국어': [70,
  74,
  60,
  69,
  70,
  74,
  53,
  99,
  68,
  70,
  57,
  85,
  70,
  79,
  79,
  89,
  84,
  61,
  86,
  83,
  70,
  95,
  61,
  89,
  84,
  84,
  95,
  70,
  71,
  84,
  58,
  70,
  87,
  74,
  52,
  62,
  62,
  84,
  59,
  54,
  78,
  66,
  63,
  60,
  90,
  75,
  81,
  87,
  77,
  68,
  65,
  60,
  99,
  86,
  95,
  74,
  67,
  68,
  63,
  70,
  51,
  51,
  92,
  53,
  81,
  58,
  65,
  70,
  65,
  71,
  95,
  61,
  95,
  57,
  74,
  59,
  83,
  94,
  51,
  73,
  64,
  78,
  54,
  70,
  71,
  99,
  65,
  77,
  58,
  95,
  83,
  61,
  66,
  62,
  59,
  94,
  83,
  54,
  93,
  92],
 '수학': [74,
  62,
  99,
  71,
  66,
  66,
  52,
  92,
  60,
  86,
  85,
  88,
  95,
  70,
  53,
  91,
  65,
  74,
  93,
  75,
  75,
  69,
  51,
  86,
  54,
  57,
  97,
  84,
  89,
  67,
  53,
  88,
  65,
  52,
  84,
  56,
  66,
  54,
  88,
  78,
  72,
  80,
  90,
  62,
  89,
  90,
  58,
  65,
  75,
  52,
  91,
  93,
  72,
  97,
  68,
  75,
  88,
  73,
  80,
  85,
  61,
  76,
  51,
  88,
  68,
  52,
  95,
  67,
  65,
  54,
  70,
  56,
  57,
  93,
  68,
  67,
  78,
  52,
  99,
  76,
  65,
  99,
  83,
  94,
  60,
  86,
  97,
  96,
  60,
  87,
  80,
  94,
  78,
  68,
  79,
  69,
  97,
  98,
  82,
  59],
 '영어': [58,
  60,
  86,
  68,
  78,
  81,
  85,
  96,
  74,
  60,
  57,
  79,
  67,
  56,
  75,
  62,
  95,
  88,
  62,
  78,
  88,
  80,
  54,
  71,
  81,
  65,
  97,
  86,
  97,
  97,
  92,
  88,
  80,
  66,
  91,
  85,
  71,
  91,
  54,
  73,
  83,
  89,
  86,
  72,
  60,
  75,
  83,
  50,
  95,
  59,
  53,
  83,
  89,
  85,
  53,
  89,
  74,
  60,
  64,
  66,
  91,
  67,
  75,
  95,
  61,
  66,
  56,
  72,
  90,
  51,
  72,
  64,
  78,
  88,
  92,
  77,
  79,
  89,
  57,
  92,
  85,
  95,
  84,
  72,
  69,
  85,
  75,
  85,
  77,
  70,
  84,
  86,
  52,
  92,
  68,
  87,
  62,
  91,
  92,
  60]}

In [456]:
obj_dict={'총점':[],'평균':[],'등급':[]}
sum_ =0
for i,j,k in zip(obj['국어'],obj['수학'],obj['영어']):
    sum_ = (i+j+k)
    obj_dict['총점'].append(sum_)
avg_ =0
for i in obj_dict['총점']:
    avg_ = i/3
    obj_dict['평균'].append(avg_)
for i in obj_dict['평균']:
    obj_dict['등급'].append(calc_grade(i))
obj_dict

{'총점': [207,
  199,
  193,
  249,
  252,
  219,
  250,
  265,
  193,
  215,
  233,
  240,
  268,
  206,
  206,
  248,
  217,
  247,
  220,
  221,
  212,
  210,
  205,
  242,
  214,
  192,
  193,
  196,
  260,
  218,
  216,
  238,
  188,
  245,
  243,
  264,
  246,
  217,
  210,
  263,
  223,
  249,
  265,
  190,
  204,
  233,
  223,
  208,
  260,
  208,
  235,
  218,
  221,
  269,
  240,
  244,
  210,
  261,
  185,
  224,
  211,
  186,
  249,
  226,
  239,
  230,
  218,
  244,
  233,
  231,
  182,
  182,
  226,
  266,
  230,
  233,
  246,
  237,
  233,
  213,
  199,
  210,
  212,
  254,
  239,
  256,
  220,
  224,
  235,
  261,
  253,
  227,
  245,
  203,
  184,
  227,
  239,
  226,
  216,
  179],
 '평균': [69.0,
  66.33333333333333,
  64.33333333333333,
  83.0,
  84.0,
  73.0,
  83.33333333333333,
  88.33333333333333,
  64.33333333333333,
  71.66666666666667,
  77.66666666666667,
  80.0,
  89.33333333333333,
  68.66666666666667,
  68.66666666666667,
  82.66666666666667,
  72.33333333333333,
  82.33333333333333,
  73.33333333333333,
  73.66666666666667,
  70.66666666666667,
  70.0,
  68.33333333333333,
  80.66666666666667,
  71.33333333333333,
  64.0,
  64.33333333333333,
  65.33333333333333,
  86.66666666666667,
  72.66666666666667,
  72.0,
  79.33333333333333,
  62.666666666666664,
  81.66666666666667,
  81.0,
  88.0,
  82.0,
  72.33333333333333,
  70.0,
  87.66666666666667,
  74.33333333333333,
  83.0,
  88.33333333333333,
  63.333333333333336,
  68.0,
  77.66666666666667,
  74.33333333333333,
  69.33333333333333,
  86.66666666666667,
  69.33333333333333,
  78.33333333333333,
  72.66666666666667,
  73.66666666666667,
  89.66666666666667,
  80.0,
  81.33333333333333,
  70.0,
  87.0,
  61.666666666666664,
  74.66666666666667,
  70.33333333333333,
  62.0,
  83.0,
  75.33333333333333,
  79.66666666666667,
  76.66666666666667,
  72.66666666666667,
  81.33333333333333,
  77.66666666666667,
  77.0,
  60.666666666666664,
  60.666666666666664,
  75.33333333333333,
  88.66666666666667,
  76.66666666666667,
  77.66666666666667,
  82.0,
  79.0,
  77.66666666666667,
  71.0,
  66.33333333333333,
  70.0,
  70.66666666666667,
  84.66666666666667,
  79.66666666666667,
  85.33333333333333,
  73.33333333333333,
  74.66666666666667,
  78.33333333333333,
  87.0,
  84.33333333333333,
  75.66666666666667,
  81.66666666666667,
  67.66666666666667,
  61.333333333333336,
  75.66666666666667,
  79.66666666666667,
  75.33333333333333,
  72.0,
  59.666666666666664],
 '등급': ['양',
  '양',
  '양',
  '우',
  '우',
  '미',
  '우',
  '우',
  '양',
  '미',
  '미',
  '우',
  '우',
  '양',
  '양',
  '우',
  '미',
  '우',
  '미',
  '미',
  '미',
  '미',
  '양',
  '우',
  '미',
  '양',
  '양',
  '양',
  '우',
  '미',
  '미',
  '미',
  '양',
  '우',
  '우',
  '우',
  '우',
  '미',
  '미',
  '우',
  '미',
  '우',
  '우',
  '양',
  '양',
  '미',
  '미',
  '양',
  '우',
  '양',
  '미',
  '미',
  '미',
  '우',
  '우',
  '우',
  '미',
  '우',
  '양',
  '미',
  '미',
  '양',
  '우',
  '미',
  '미',
  '미',
  '미',
  '우',
  '미',
  '미',
  '양',
  '양',
  '미',
  '우',
  '미',
  '미',
  '우',
  '미',
  '미',
  '미',
  '양',
  '미',
  '미',
  '우',
  '미',
  '우',
  '미',
  '미',
  '미',
  '우',
  '우',
  '미',
  '우',
  '양',
  '양',
  '미',
  '미',
  '미',
  '미',
  '가']}

In [539]:
df = pd.DataFrame(obj_dict)
df.to_csv('score_test.csv', encoding='euc-kr')

In [431]:
def calc_grade(x):
    grade_ =""
    if x>=90:
        grade_ ="수"
    elif x>=80:
        grade_ ="우"
    elif x>=70:
        grade_ ="미"
    elif x>=60:
        grade_ ="양"
    else: grade_ ="가"
    return grade_

In [543]:
obj['총점'] = [k+m+e for k,m,e in zip(obj['국어'],obj['수학'],obj['영어'])]
obj['평균'] = list(map(lambda x: x/3.0, obj['총점']))
obj['등급'] = list(map(calc_grade, obj['평균']))
df = pd.DataFrame(obj)
df.to_csv('score.csv', encoding='euc-kr')

In [529]:
obj={}
obj['a']=[1,2,3,11,28]
obj['b']=[4,5,6,1,2]
# 문제1) obj의 a와 b의 각각의 요소의 합을 구해서 obj 'c'에 저장
sum_c_list=[]
for i,j in zip(obj['a'],obj['b']):
    sum_c_list.append(i+j)
obj['c']= sum_c_list
obj 

# 문제 2) obj={'k':[False,False,True]}
k_list=[]
for i in obj['c']:
    if i>7 :
        k_list.append(True)
    else:
        k_list.append(False)
    obj['k']= k_list
# obj
pd.DataFrame(obj)

    a  b   c      k
0   1  4   5  False
1   2  5   7  False
2   3  6   9   True
3  11  1  12   True
4  28  2  30   True

In [520]:
def is_true(x):
    if x>7: return True
    else : return False

In [528]:
obj['k'] = list(map(lambda x_ : is_true(x_), sum_c_list)) 
# list_에서 하나씩 꺼내서 is_true에 전달함
pd.DataFrame(obj)
#반복되는 코드를 여러곳에서 사용하고 있으면 각각의 사용되는곳을 다 찾아서 수정해줘야하므로
#동일한 코드를 재활용하기 위해 함수를 만들어서 재활용하면 그 함수에서만 수정하면 됨

    a  b   c      k
0   1  4   5  False
1   2  5   7  False
2   3  6   9   True
3  11  1  12   True
4  28  2  30   True

In [544]:
obj={}
obj['a']=[(1,11,23,13,189),(2,5,6,34,2),(11,23,3,5,19),(11,143,12,2),(28,19,23,45,67,400)]

def is_true1(x,v):
    print(x,v)
    sum_=0
    for i in x:
        sum_ +=i
    if sum_>v: return True
    else : return False

obj['k'] = list(map(lambda x_ : is_true1(x_[:-1],v=x_[-1]), obj['a']))
obj

(1, 11, 23, 13) 189
(2, 5, 6, 34) 2
(11, 23, 3, 5) 19
(11, 143, 12) 2
(28, 19, 23, 45, 67) 400

{'a': [(1, 11, 23, 13, 189),
  (2, 5, 6, 34, 2),
  (11, 23, 3, 5, 19),
  (11, 143, 12, 2),
  (28, 19, 23, 45, 67, 400)],
 'k': [False, True, True, True, False]}

In [545]:
arr=[1,2,3,4,5]
print(arr[:-1],arr[-1])

[1, 2, 3, 4] 5

In [547]:
left, right = 5//2+1, 5//2
print(left, right)

3 2

In [616]:
arr=[(2,34,2,4),(1,2,3,4,5)]
list(map(f_split, arr))

2
3

[[(2, 34), (2, 4)], [(1, 2, 3), (4, 5)]]

In [618]:
def f_split(x):
    sum_=0
    len_x = len(x)
    if len_x%2==0:
        len_x_half = int(len_x/2)
    else:
        len_x_half = int(len_x//2+1)
    return [x[:len_x_half],x[len_x_half:]]

In [619]:
def is_ture_split(x):
    sum_l=0
    sum_r=0
    for i in x[0]:
        sum_l += i
    for i in x[1]:
        sum_r += i
    if sum_l > sum_r : return True
    else: return False

In [621]:
obj={}
obj['a']=[(1,11,23,13,189),(2,5,6,34,2),(11,23,3,5,19),(11,143,12,2),(28,19,23,45,67,400),
         (11,11,23,13,189,22,5,16,34,2)]
split_data = list(map(f_split, obj['a']))
split_data

[[(1, 11, 23), (13, 189)],
 [(2, 5, 6), (34, 2)],
 [(11, 23, 3), (5, 19)],
 [(11, 143), (12, 2)],
 [(28, 19, 23), (45, 67, 400)],
 [(11, 11, 23, 13, 189), (22, 5, 16, 34, 2)]]

In [622]:
list(map(is_ture_split, split_data))

[False, False, True, True, False, True]

In [733]:
arr_list=[{"v":[1,2,3],"w":[4,5,6]},
 {"v":[2,3,4,5],"w":[2,4,8]},
 {"v":[2,8,10,6,9],"w":[5,1,8]},
 {"v":[1,3,2],"w":[1,2,3]}]

In [744]:
def sum_arr_one(x):
    sum_v=0
    for i in x:
        sum_v += i
    return sum_v

In [745]:
obj={}
list_v=map(lambda x_ : x_['v'], arr_list)
list_w=map(lambda x_ : x_['w'], arr_list)
obj['v'] =[sum_arr_one(i) for i in list_v]
obj['w'] =[sum_arr_one(i) for i in list_w]
obj

{'v': [6, 14, 35, 6], 'w': [15, 14, 14, 6]}

In [746]:
data=[{"v":2},
     {"v":7},
     {"v":11},
     {"v":19},
     {"v":3}]

In [750]:
list(map(lambda i : i["v"] , data))

[2, 7, 11, 19, 3]

In [752]:
data=[[[1,2],[2,3]],
     [[2,4],[5,6]],
     [[1,7],[1,8]]]

In [754]:
list(map(lambda i : i[0], data))

[[1, 2], [2, 4], [1, 7]]

In [755]:
data1=[
    [
        {"name":['홍길동1','김말자5','김개똥9'],'age':[23,45,56]}, 
        {"name":['홍길동2','김말자6','김개똥10'],'age':[27,48,561]}, 
        {"name":['홍길동3','김말자7','김개똥11'],'age':[231,451,561]}, 
        {"name":['홍길동4','김말자8','김개똥12'],'age':[123,415,516]} 
    ],
    [
        {"name":['홍길동11','김말자25','김개똥91'],'age':[23,45,56]}, 
        {"name":['홍길동12','김말자26','김개똥101'],'age':[227,428,5261]}, 
        {"name":['홍길동13','김말자27','김개똥111'],'age':[2231,4251,561]}, 
        {"name":['홍길동14','김말자28','김개똥121'],'age':[1223,4215,5216]} 
    ],
    [
        {"name":['홍길동21','김말자55','김개똥91'],'age':[232,452,569]}, 
        {"name":['홍길동22','김말자56','김개똥1110'],'age':[227,498,591]}, 
        {"name":['홍길동23','김말자57','김개똥1111'],'age':[231,4951,561]}, 
        {"name":['홍길동24','김말자58','김개똥1112'],'age':[9,4915,5916]} 
    ],
    
]
data1[0]
# {'홍길동':[1,2,3,4,11,12,13,14,21,22,23,24],
# '김말자':[ 다음숫자 추출],
# '김개똥':[다음숫자 추출],}

[{'name': ['홍길동1', '김말자5', '김개똥9'], 'age': [23, 45, 56]},
 {'name': ['홍길동2', '김말자6', '김개똥10'], 'age': [27, 48, 561]},
 {'name': ['홍길동3', '김말자7', '김개똥11'], 'age': [231, 451, 561]},
 {'name': ['홍길동4', '김말자8', '김개똥12'], 'age': [123, 415, 516]}]

In [936]:
sum_=""
age_=0
data_dict={'홍길동':[],'김말자':[],'김개똥':[]}
for i in data1:
    for j in i:
        sum_ = j['name'][0][3:]
        data_dict['홍길동'].append(sum_)
        sum_ = j['name'][1][3:]
        data_dict['김말자'].append(sum_)
        sum_ = j['name'][2][3:]
        data_dict['김개똥'].append(sum_)
        data_dict['age'+str(age_+1)] = sum(j['age'])
        age_ +=1
data_dict

{'홍길동': ['1', '2', '3', '4', '11', '12', '13', '14', '21', '22', '23', '24'],
 '김말자': ['5', '6', '7', '8', '25', '26', '27', '28', '55', '56', '57', '58'],
 '김개똥': ['9',
  '10',
  '11',
  '12',
  '91',
  '101',
  '111',
  '121',
  '91',
  '1110',
  '1111',
  '1112'],
 'age1': 124,
 'age2': 636,
 'age3': 1243,
 'age4': 1054,
 'age5': 124,
 'age6': 5916,
 'age7': 7043,
 'age8': 10654,
 'age9': 1253,
 'age10': 1316,
 'age11': 5743,
 'age12': 10840}

In [938]:
obj={}
cnt=0
for i in data1: #2차원 리스트에서 하나씩 꺼내면 1차원 리스트
    for j in i: #1차원 리스트에서 하나씩 꺼내면 dictoinary
        for k, v in j.items(): #dictionary에서 items 호출하면 k에는 각 dictionary의 key, v에는 calue
            if k=='age': #key가 age 일 경우 각 리스트의 총합을 구하는데 key를 분류하기 위해
                obj['age_'+str(cnt+1)] =sum(v)
                cnt+=1
            else: #key가 age가 아닐경우 name
                for name_v in v: # value에서 하나씩 꺼내어
                    key_name = name_v[:3] # 앞의 이름 3개를 잘라서
                    if key_name not in obj.keys(): #obj 객체에 key가 없으면
                        obj[key_name]=[] # value를 빈 list로 하고
                    obj[key_name].append(int(name_v[3:])) #그렇지 않으면 빈 리스트에 숫자를 잘라서 정수로
                    # 변환한후 추가
obj

{'홍길동': [1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24],
 '김말자': [5, 6, 7, 8, 25, 26, 27, 28, 55, 56, 57, 58],
 '김개똥': [9, 10, 11, 12, 91, 101, 111, 121, 91, 1110, 1111, 1112],
 'age_1': 124,
 'age_2': 636,
 'age_3': 1243,
 'age_4': 1054,
 'age_5': 124,
 'age_6': 5916,
 'age_7': 7043,
 'age_8': 10654,
 'age_9': 1253,
 'age_10': 1316,
 'age_11': 5743,
 'age_12': 10840}

In [951]:
str_int=["1","2","3","4"]
list(map(int, str_int))

[1, 2, 3, 4]